<div class='apply-form-overlay'>
  <%= react_component 'ApplyForm', {
    cities: @cities,
    city: @city,
    conditions: t(".conditions"),
    title: t(".apply"),
    apply_btn: t(".apply_btn"),
    rows: [
      apply_row(:first_name, :text, t(".first_name"), "Alan", "account"),
      apply_row(:last_name, :text, t(".last_name"), "Turing", "format-text"),
      apply_row(:age, :text, "Age", "42", "crown"),
      apply_row(:email, :email, "Email", "alan@turing.com", "email-open"),
      apply_row(:phone, :tel, t(".phone"), "+33612345678", "cellphone-iphone"),
      apply_row(:motivation, :textarea, "Motivation (> 140 char.)", t(".motivation"), "content-paste")
    ]
  } %>

</div>
