<div class='apply-form-overlay'>
  <%= react_component 'ApplyForm', {
    cities: @cities,
    city: @city,
    rows: [
      {
        placeholder: 'Alan',
        type: 'text',
        label: 'First Name',
        param: 'first_name',
        'icon': 'mdi mdi-account'
      },
      {
        placeholder: 'Turing',
        label: "Last Name",
        type: 'text',
        param: 'last_name',
        icon: 'mdi mdi-format-text'
      },
      {
        label: 'Age',
        param: 'age',
        type: 'text',
        icon: 'mdi mdi-crown',
        placeholder: '42'
      },
      {
        label: 'Email',
        type: 'email',
        param: 'email',
        icon: 'mdi mdi-email-open',
        placeholder: 'alan@turing.com'
      },
      {
        label: 'Phone',
        param: 'phone',
        type: 'tel',
        icon: 'mdi mdi-cellphone-iphone',
        placeholder: '+33612345678'
      },
      {
        label: 'Motivations',
        param: 'motivations',
        type: 'textarea',
        icon: 'mdi mdi-content-paste',
        placeholder: 'Why Le Wagon? What is your project?'
      }
    ]
    } %>

</div>
