// Local fonts (uncomment following lines)
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirLight.eot');
  src: font-url('Avenir/AvenirLight.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirLight.woff') format('woff'),
       font-url('Avenir/AvenirLight.woff2') format('woff2'),
       font-url('Avenir/AvenirLight.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirMedium.eot');
  src: font-url('Avenir/AvenirMedium.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirMedium.woff') format('woff'),
       font-url('Avenir/AvenirMedium.woff2') format('woff2'),
       font-url('Avenir/AvenirMedium.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirSemiBold.eot');
  src: font-url('Avenir/AvenirSemiBold.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirSemiBold.woff') format('woff'),
       font-url('Avenir/AvenirSemiBold.woff2') format('woff2'),
       font-url('Avenir/AvenirSemiBold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirBold.eot');
  src: font-url('Avenir/AvenirBold.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirBold.woff') format('woff'),
       font-url('Avenir/AvenirBold.woff2') format('woff2'),
       font-url('Avenir/AvenirBold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirMediumItalic.eot');
  src: font-url('Avenir/AvenirMediumItalic.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirMediumItalic.woff') format('woff'),
       font-url('Avenir/AvenirMediumItalic.woff2') format('woff2'),
       font-url('Avenir/AvenirMediumItalic.ttf') format('truetype');
  font-style: italic;
}

// Fonts family
$base-font: "Avenir", "Helvetica", "sans-serif";
$header-font: $base-font;
$navbar-font: $base-font;


// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #C73333;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #379007;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee