/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

 #stories {
  p {
    font-size: 22px;
    font-weight: 100;
  }
 }

 .projects {
  height: 400px;
  background-size: cover;
  margin-top: -15px;
 }

 .quote-overlay {
    text-align: center;
    position: relative;
    height: auto;
    overflow: hidden;
    padding-bottom: 60px;
    background-color: #F4F4F4;

    img {
      width: 900px;
    }
  .dot{
    font-size: 16px;
    font-weight: $font-weight-light;
    color: #C73333;
  }
  .source {
    font-size: 16px;
    font-weight: $font-weight-normal;
    color: grey;
  }
  p{
    font-size: 20px;
    color: #8A8484;
    font-weight: $font-weight-light;
    margin-top: 16px;
  }
  a {
    font-size: 20px;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    background-color: $blue;
    border-bottom: 2px solid #3C8ACC;
    color: white;
    padding: 15px 20px;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
    }
    span { font-weight: $font-weight-light }
  }
  svg {
    height: 40px;
    position: relative;
    top: 14px;
  }
 }

.techcrunch-hr {
  margin: 0;
  width: 140px;
  height: 4px;
  background-color: #199C17;
  position: relative;
  top: 8px;
  border-radius: 50%;
  margin-right: 20px;
  transform: skew(74deg);
}
.quote {
  .techcrunch {
    text-align: right;
    position: absolute;
    right: 28px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    @media (max-width: $screen-sm) {
      right: 0;
    }

    hr {
      margin: 0;
      width: 140px;
      height: 4px;
      background-color: #199C17;
      position: relative;
      top: 8px;
      border-radius: 50%;
      margin-right: 20px;
      transform: skew(74deg);
    }

    img {
      width: 200px;

    }
  }
}
