<div id="footer">
  <div class="text-center">
    <%= render "shared/logos/logo_red_square", width: "100px" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <p>
          A propos de nous
        </p>
        <ul class="list-unstyled">
          <li><a>Jobs</a></li>
          <li><a>Press</a></li>
          <li><a>Blog</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <p>
          Nos villes
        </p>
        <ul class="list-unstyled">
          <li><a>Paris</a></li>
          <li><a>Brussels</a></li>
          <li><a>Los Angeles</a></li>
          <li><a>Beirut</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <p>
          Réseaux sociaux
        </p>
        <ul class="list-unstyled">
          <li><a>Facebook</a></li>
          <li><a>Twitter</a></li>
          <li><a>Youtube</a></li>
          <li><a>Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>