<div id="footer">

  <div class="container">
    <div class='brand-footer'>
      <%= render "shared/logos/logo_red_square", width: "100px" %>
    </div>

    <div class="flex">
      <div class='footer-section'>
        <h3>
          Nos tutoriels vidéos
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="">TV</a>
          </div>
          <div>
            <a href="">On-Demand</a>
          </div>
        </div>
      </div>
      <div class='footer-section'>
        <h3>
          Trouver une ville
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="">Paris</a>
          </div>
          <div>
            <a href="">Lille</a>
          </div>
          <div>
            <a href="">Bordeaux</a>
          </div>
          <div>
            <a href="">Marseille</a>
          </div>
          <div>
            <a href="">Brussels</a>
          </div>
          <div>
            <a href="">Los Angeles</a>
          </div>
          <div>
            <a href="">Beirut</a>
          </div>
        </div>
      </div>

      <div class='footer-section'>
        <h3>
          A propos de nous
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="">Blog</a>
          </div>
          <div>
            <a href="">Jobs</a>
          </div>
          <div>
            <a href="">Press</a>
          </div>
        </div>
      </div>

      <div class='footer-section'>
        <h3>
          Suivez-nous
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="">Facebook</a>
          </div>
          <div>
            <a href="">Twitter</a>
          </div>
          <div>
            <a href="">Youtube</a>
          </div>
          <div>
            <a href="">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

