<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="padded">
        <h1>404 Not Found</h1>
        <p>Sorry, this page does not exist anymore :(</p>
        <p>
          <%= link_to "Go home", root_path, class: 'btn btn-primary' %>
          or
          <%= link_to "read the blog", blog_path %>
        </p>
      </div>
    </div>
  </div>
</div>
