
        <h1>Thanks Thomas!</h1>
        <p>
          We well received your candidature
        </p>

<div class='thanks-container'>
  <div class="container">
    <div class="thanks-body">
      <div class="thanks-body-title">
        Checklist
      </div>
    </div>
  </div>
</div>
