// Your footer style

#footer {
  padding: 50px 0 100px 0;
  font-weight: 300;
  color: #CCCCCC;
  background-color: #D23333;

  .container {
    margin-top: 60px;
  }

  .btn-default {
    color: #AEAEAE;
    border: none;
    background: transparent;
    font-weight: lighter;
  }

  svg, path, rect, circle {
    fill: white;
  }
  svg {
    margin-top: 70px;
  }
  .fa {
    font-size: 25px;
  }
  hr {
    border-top: 1px solid #3C3B3B;
  }

}
.cities:first-child  {
  margin-bottom: 5px;
}
.cities a {
  color: $yellow !important;
}
.cities li {
  font-weight: light;
  font-size: 17px;
  border-right: 1px solid #5B5959;
  color: grey;
  padding-right: 10px;
  &:last-child {
    border-right: none;
  }
  &:first-child {
    border-right: none;
  }
}


.footer-section {
  h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    color: black;
  }

  a {
    letter-spacing: -3px;
    font-size: 50px;
    font-weight: bold;
    color: black;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

