.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent;
  transition: all 0.3s ease;
  &-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  &-logo {
    width: 50px;
    path, circle, rect {
      fill: white;
    }
  }
  &-container {
    display: flex;
    height: 70px;
    align-items: center;
  }
  &-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
  }
  &-spacer {
    flex: 1 1 auto;
  }
  &-link {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
  &-button {
    margin-left: 10px;
    padding: 0 20px;
    border-radius: 20em;
    line-height: 40px;
    background-color: #D23333;
    color: white;
    font-size: 14px;
    border: 2px solid $brand-color;

    &:hover {
      color: white;
      background: $brand-color;
      border-color: darken($brand-color, 10%);
    }
  }
  &-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 2px #333333;
    border-color: #E6E6E6;
    li > a {
      transition: color 0.3s ease;
      font-weight: lighter !important;
      color: #999999 !important;
      font-size: 15px !important;
      line-height: 22px !important;
      padding: 10px 20px;
      &:hover {
        background: transparent !important;
        color: black !important;
      }
    }
    &:before {
      content: ' ';
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      top: -6px;
      background-color: white;
      transform: rotate(45deg);
      border-left: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
    }
  }
  hr {
    height: 12px;
    width: 1px;
    background-color: white;
    opacity: 0.4;
    margin-left: 20px;
    margin-right: 20px;
  }
}