/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
  &-small {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

.flow-column {
  flex-flow: column;
}

.flex {
  display: flex;
}


// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}

.bg-blue {
  background: #439FE0;
  color: white;
}

.text-opac {
  opacity: .8;
}

.bg-facebook {
  background: #3b5998;
}
.bg-black {
  background: #343434;
  color: white;
}
.bg-white {
  background: white;
}
.bg-purple {
  background: rgba(77, 57, 74, 1);
  color: white;
}
.bg-purple-gradient {
  background-image: linear-gradient(-225deg, #4d394a 45%, rgba(77, 57, 74, 0.9) 90%);
  color: white;
}
.bg-green {
  background: rgba(59, 165, 83, 1);
  color: white;
}
.bg-green-gradient {
  background: #2ecc71;
  color: white;
}

.section-title-home {
  text-align: center;
  font-size: 50px;
  font-weight: $font-weight-bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #E0E0E0;
  height: 7px;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  position: relative;
  display: flex;
  z-index: 9;

  @media (max-width: $screen-md) {
    font-size: 30px;
  }

  @media (max-width: $screen-md) {
    height: auto;
    border: none;
  }

  &.quote {
    font-size: 30px;
    font-weight: $font-weight-light;
  }

  &.negative {
    color: white;
    background:none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: none;
    text-align: center;

    .section-title-home-content {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }

  &-content {
    background-color: #F4F4F4;
    position: relative;
    padding-right: 30px;
    @media (max-width: $screen-md) {
      background-color: transparent;
    }
    padding-left: 30px;
  }
}

.section-title-home-subtitle {
  color: #B3B3B3;
  font-size: 20px !important;
  font-weight: 300;
  margin-top: -25px;
  position: relative;
  z-index: 1;
}

.red { color: $red }
.blue { color: $blue }
.green { color: $green }
.purple { color: $purple }
.yellow { color: $yellow }
.orange { color: $orange }
