@keyframes borderFocus {
  0% {
    border-left-color: $green;
  }

  100% {
    border-left-color: #333333;
  }
}


.applies-new,
.pages-thanks {
  .navbar-wagon-white {background: HSLA(0, 0%, 96%, 1)}
  .banner-container {
      background-color: HSLA(0, 0%, 96%, 1);
  }
}
.apply-form-body {
  flex: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.apply-form-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 40px 20px;
  transition: transform .3s ease;
  border-left: 0px solid black;
  transition: .3s ease border-left;

  &.is-focused, &.has-error {
    border-left-width: 8px;
    border-left-style: solid;
    animation: borderFocus 4s ease alternate-reverse infinite;
  }

  &.is-focused {
    border-left-color: #333333;
  }

  &.has-error {
    border-left-color: red;
  }

  @media (max-width: $screen-md) {
    align-items: center;
  }
  abbr {
    display: none;
  }
  .errors {
    display: flex;
    flex-flow: column;
    color: $red;
    padding-left: 20px;
    text-align: right;
  }
  &:last-child {
    border-bottom: none;
  }
  label {
    flex: 0 0 200px;
    color: darkgrey;
    align-self: flex-start;
    margin: 0;
    @media (max-width: $screen-md) {
      text-align: center;
      padding-bottom: 20px;
    }

    i {
      margin-right: 10px;
    }
  }

  input {
    flex: 1;
    border: none;
    outline: 0;
    background-color: transparent;
    box-shadow: none;

    @media (max-width: $screen-md) {
      flex: 0 0 100%;
      text-align: center;
    }

  }

  textarea {
    flex: 4 1 auto;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ccc;
    resize: none;
    height: 150px;
    padding: 10px;
    outline: 0;
    border-radius: 4px;
    &:focus {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.17);
      border: 1px solid #9C9C9C;
    }
  }
}

.apply-form-row-first {
  color: white;
  background: $blue;

  label {
    height: 52px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
}

.apply-form-row-item {
  flex: 1;
  span {
    opacity: .5;
  }
}

.apply-form-rows-container {
  background: white;
}

.banner-city-container {
  display: flex;
  padding-bottom: 50px;
  @media (max-width: $screen-md) {
    flex-flow: column;
  }
}

.banner-city {
  flex: 1;
  height: 200px;
  display: none;
  border-radius: 0;

  h1 span { animation: inherit }


  h1 {
    margin: 0;
  }

  &.is-active {
    display: flex;

    .city {
      animation: boxShadow .3s 1s ease forwards;
    }
  }
}

.banner-city-nav {
  flex: 0 0 300px;
  margin-right: 50px;

  @media (max-width: $screen-md) {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.banner-city-nav-item {
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.as-example {
    opacity: .3;
    cursor: default;
    .banner-city-miniature-example{ background: white !important; }
  }

  &.is-active {
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    .city-nav-item-title {
      font-weight: bold;
    }
  }
}

.banner-city-miniature {
  height: 35px;
  width: 35px;
  background-size: cover;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.12);
}

.city-nav-item-title {
  text-transform: capitalize;
}

.apply-form-row-submit {
  display: flex;
  padding: 20px;

  @media (max-width: $screen-md) {
    flex-flow: column;
    text-align: center;
  }

  input {
    flex: inherit;
    color: white;
    background-color: #D23333;
    padding: 12px 25px;
    margin-left: auto;
    outline: 0 !important;

    &:hover {
      color: white;
      background: darken(#D23333, 5%)
    }

    &:focus {
      color: white;
      transform: scale(0.99);
    }

    @media (max-width: $screen-md) {
      margin: auto;
    }
  }
}

.apply-form-price {
  margin-right: 40px;
  opacity: .4;

  @media (max-width: $screen-md) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.city-nav-item-date {
  font-size: 12px;
  color: #C8C8C8;
  background: $blue;
  text-transform: uppercase;
}


@keyframes boxShadow {
  0% {
    box-shadow: inset 0px 0 #D23333;
  }
  100% {
    box-shadow: inset 0px -18px #D23333;
  }
}

.post-submissions-select {

  .dropdown-menu {
    width: 480px;
    color: black;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    border: none;
  }

  .fa-check {
    color: $green;
  }

  .input-selector-item {
    display: flex;
    padding: 20px 13px;
    opacity: .7;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    &:last-child { border-bottom: none }

    &.is-full { strong {text-decoration: line-through} }
    &.is-selected { opacity: 1 }
    &:hover { opacity: 1 }
    strong { padding: 0 5px }
  }

  .last-seats {
    margin-left: auto;
    color: #B5B5B5;
  }

  .btn-group.open .dropdown-toggle,
  .dropdown-toggle:focus,
  .dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.28);
    border: none;
    color: white;
    border-radius: 0;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    span {
      opacity: 1;
    }
  }

  .btn-group.open .dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.35);
  }
}
