.btn-transparent {
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 4px;
  color: white;
  opacity: 0.8;
  &:hover, &:focus {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
}
