.card-city {
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #E7E5E5;
}
.card-city-header {
  background-color: $blue;
  height: 100px;
  background-size: cover;
  border-radius: 3px 3px 0px 0px;
}
.card-city-body {
  padding: 20px;
  h3 {
    font-size: 19px;
  }
  p {
    color: #959494;
    font-size: 13px;
  }
}
.card-student {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  margin: 14px 0px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #F5F4F4;
  &-content {
    flex: 1 1 auto;
    h3 {
      font-size: 18px;
      font-weight: $font-weight-normal;
      margin-bottom: 6px;
      margin-top: 0px;
    }
    p {
      font-size: 16px;
      color: #CCCCCC;
      margin-bottom: 0px;
    }
  }
  &-img {
    flex: 0 0 60px;
    height: 60px;
  }
}
.card-project-header {
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  h3 {
    font-size: 26px;
    font-weight: $font-weight-bold;
  }
  p {
    color: #B7B7B7;
    font-size: 19px;
  }
}
.project-toggle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  cursor: pointer;
}
.card-project-title {
  flex: 1 1 auto;
}
.card-project-founders {
  flex: 0 0 50px;
  height: 50px;
  margin-left: 10px;
}
.card-project-body {
  padding-top: 50px;
  h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: #A9A9A9;
  }
}
.card-project-picture {
  width: 100%;
  margin: 20px auto 0 auto;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px 5px 0 0;
  .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(-225deg, RGBA(0, 0, 0, 0) 0%, RGBA(0, 0, 0, 0) 0%);
  }
}

.card-testimonial {
  position: relative;
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px auto;
  &-bg{
    background-size: cover;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-shadow {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-description {
    position: absolute;
    top: 0px;
    left: 20px;
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 12px !important;
    }
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
    &:hover{
      opacity: 0.1;
    }
  }
}
.card-staff {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
}
.card-staff-description {
  flex: 1 1 auto;
  padding-right: 50px;
  h3 {
    margin-top: 0px;
    font-size: 25px;
    font-weight: $font-weight-bold;
  }
  p {
    font-size: 16px;
    color: #666666;
    font-weight: $font-weight-light;
  }
}
.card-staff-infos {
  padding: 20px;
  margin-left: 30px;
  flex: 0 0 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
}
.card-staff-img {
  flex: 0 0 80px;
  height: 80px;
}
.card-staff-role {
  flex: 1 1 auto;
  border-radius: 2px;
  h4 {
    font-size: 17px;
    font-weight: $font-weight-normal;
    margin-bottom: 6px;
    margin-top: 0px;
  }
  p {
    font-size: 14px;
    font-weight: $font-weight-light;
    color: #BCB8B8;
    margin-bottom: 0px;
  }
}

@media (max-width: $screen-sm) {
  .card-staff {
    flex-direction: column;
  }
  .card-staff-description {
    padding: 0px;
    margin: 20px;
  }
  .card-staff-infos {
    flex: 0 0 150px !important;
    margin-left: 0px;
  }
}
