.card-city {
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #E7E5E5;
}
.card-city-header {
  background-color: $blue;
  height: 100px;
  background-size: cover;
  border-radius: 3px 3px 0px 0px;
}
.card-city-body {
  padding: 20px;
  h3 {
    font-size: 19px;
  }
  p {
    color: #959494;
    font-size: 13px;
  }
}

.card-student {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #F5F4F4;
  &-content {
    flex: 1 1 auto;
    h3 {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 6px;
    }
    p {
      font-size: 16px;
      color: #CCCCCC;
    }
  }
  &-img {
    flex: 0 0 50px;
    height: 50px;
  }
}