.card-faqs {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: auto;
  padding-bottom: 50px;
}

.card-faq-container {
  flex: 0 0 100%;
}

.card-faq-question {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;
  padding-bottom: 20px;
  margin-top: 50px;
  letter-spacing: -2.5px;

  @media (max-width: $screen-sm) {
    font-size: 30px;
  }
}

.card-faq-answer {
  font-size: 22px;
  font-weight: 100;

  .link {
    height: 25px;

  }
}
