.features-wrapper {
  background-color: #F4F4F4;
  position: relative;
  margin-top: -180px;
  padding-top: 180px;
}


.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  padding: 40px;
  flex: 0 0 33%;
}

.feature-header {
  display: flex;
  padding-bottom: 20px;
  i {
    font-size: 20px;
    margin-right: 10px;
  }
}

.feature-icon {
  &.red { color: $red }
  &.blue { color: $blue }
  &.green { color: $green }
  &.purple { color: $purple }
  &.yellow { color: $yellow }
}

.feature-body { font-weight: 100 }
