.module.feature {
  flex: inherit;
}

.module-weeks {
  margin-left: auto;
  opacity: .6;
  font-weight: 100;
}

.module {
  height: 100px;
  overflow: hidden;

  .feature-body {
    opacity: 0;
  }

  &.is-opened {
    height: auto;

    .feature-body {
      opacity: 1;
    }
  }
}
