.module-overlay {
  display: flex;
  margin-top: 50px;
}

.module-nav {
  flex: 2;
  border-right: 1px solid #EAEAEA;
  padding-right: 25px;
  margin-right: 25px;
}

.module-nav-item {
  display: flex;
  padding: 20px;
  font-weight: 300;
  color: black;
  font-size: 12px;
  letter-spacing: 1.4px;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;

  &:hover {
    i { opacity: .15 }
  }


  i {
    font-size: 20px;
    font-weight: bold;
    opacity: .04;
    margin-left: auto;
  }

  span:first-child {
    padding-right: 5px;
  }

  &:hover {
    text-decoration: none;
    color: black;
  }

  &.is-active {
    border-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

    &.yellow { background: $yellow }
    &.red { background: $red }
    &.blue { background: $blue }
    &.orange { background: $orange }

    i {
      opacity: 1;
    }
  }
}

.module-arrows {
  display: flex;
  padding-top: 20px;
}

.module-arrow-left,
.module-arrow-right {
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

.module-arrow-right {
  margin-left: auto;
}

.modules {
  flex: 4;
  flex-flow: inherit;
}

.module.feature {
  flex: inherit;
}

.module-container {

  .module-nav {
    display: none;
  }
  &.is-active {
    .module {
      display: block;
    }
  }

  &.is-next,
  &.is-previous {
    .module-nav {
      display: flex;
      align-self: stretch;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;
      }

      i {
        color: rgb(255, 255, 255);
        font-size: 31px;
        background: rgba(black, .8);
        border-radius: 50%;
        padding: 11px;
      }
    }

    &.module-container {
      display: flex;
      justify-content: center;
      flex: 0 0 130px;
    }
  }
}

.module-weeks {
  margin-left: auto;
  opacity: .6;
  font-weight: 100;
}

.module {
  display: none;
  height: auto;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

  @media (max-width: $screen-sm) {
    display: block;
  }

  &.is-active {
    display: block;
  }

}

