.projects-list {
  padding: 20px 0;
  display: flex;
  padding-top: 0;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;

  a { color: black }
}

.project-item {
  display: flex;
  padding: 7px;
  width: 100%;
  background: white;
  flex-flow: column;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  img {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
    width: 35px;
  }

  &-container {
    display: flex;
    flex: 0 0 33%;
    max-width: 450px;

    a { outline: 0 }

    @media (max-width: $screen-md) {
      flex: 0 0 50%;
    }

    @media (max-width: $screen-sm) {
      flex: 0 0 100%;
    }
    opacity: 1;
    padding: 10px;
    position: relative;

    &:hover {
      opacity: .9;

      .project-item-makers {
        background: rgba(255, 255, 255, 0.7);

      }

      .project-item-maker {
        transform: translateX(0);
      }
    }
  }

  // &:hover {
  //   background: #f7f7fa;
  // }
}

.project-item-url {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
}

.project-item-head {
  width: 100%;
}

.project-thumbnail {
  width: 100%;
  height: 230px;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  border-radius: 0;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.14);
}

.project-item-infos {
  padding: 7px;
  padding-top: 11px;
  padding-bottom: 6px;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;

  &-left {
    width: 100%;
    padding-right: 73px;
  }
}

.project-item-name {
  font-size: 14px;
  padding-bottom: 2px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.project-item-tagline {
  opacity: 0.4;
  font-weight: 300;
}

.project-item-makers {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  transition: background 0.3s ease;
  height: 35px;
}

.project-item-maker {
  margin-right: 10px;
  transition: transform .3s ease;
  position: relative;

  &:nth-last-child(1) { transform: inherit }
  &:nth-last-child(2) { transform: translateX(100%) }
  &:nth-last-child(3) { transform: translateX(200%) }
  &:nth-last-child(4) { transform: translateX(300%) }
  &:nth-last-child(5) { transform: translateX(400%) }
  &:nth-last-child(6) { transform: translateX(500%)  }



  img {
    &:hover {
      opacity: .9
    }
  }
}

.project-detail-main {
  .section-title-h {
    margin: inherit;
    padding-left: 6px;
  }
}
