.story-overlay {
  background: #F4F4F4;
  overflow: hidden;
}

.story {
  display: flex;
  padding: 50px 0;

  @media (max-width: $screen-sm) {
    flex-wrap: wrap;
  }
}

.story-list {
  flex: 1;

  @media (max-width: $screen-sm) {
    flex: 0 0 100%;
  }
}

.story-detail {
  flex: 1;
  margin-left: 30px;
  position: relative;
  display: none;
  @media (max-width: $screen-sm) {
    margin-left: 0;
  }

  &.is-active {
    display: block;
  }
}

.story-item {
  padding: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  @media (max-width: $screen-sm) {
    padding: 20px;
    border: none;
  }

  &.is-active {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    @media (max-width: $screen-sm) {
      background-color: transparent;
      border: none;
    }

    .story-item-description {
      color: black;
    }
  }

  &:hover {
    .story-item-description {
      color: black;
    }
  }
}

.story-item-name {
  font-size: 25px;
  font-weight: $font-weight-bold;
}
.story-item-batch {
  font-size: 14px;
  line-height: 35px;
  font-weight: initial;
  color: #989898;
}

.story-item-description {
  font-size: 18px;
  font-weight: $font-weight-light;
  color: #595959;
  padding-top: 10px;
}

.story-detail-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px;
  width: 750px;
  background-size: 130%;
  border-radius: 4px;
  background-position: center center !important;
  box-shadow: inset 0px -71px 37px -17px #f4f4f4;

  @media (max-width: $screen-sm) {
    left: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}

.story-detail-extended {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: 54% 36%;
  border-radius: 50%;
  position: absolute;
  border: 6px solid white;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  transform: translateX(-50%) translateY(20%);
}

.latest-projects-overlay {
  background: #F4F4F4;
}

