.story-overlay {
  background: #F4F4F4;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;


  @media (max-width: $screen-md) {
    box-shadow: inset 0 0px 2px 0 rgba(0, 0, 0, 0.12);
    min-height: auto;
    border-top: 5px solid white;

  }

  &:after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.63), transparent 73%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    content: '';

    @media (max-width: $screen-md) {
      background: none;
    }
  }

  .container {
    position: relative;
    z-index: 9;
  }
}

.story {
  display: flex;
  padding: 50px 0;
  max-width: 650px;
  padding-top: 100px;

  @media (max-width: $screen-sm) {
    flex-wrap: wrap;
  }
}

.story-list {
  flex: 1;

  @media (max-width: $screen-sm) {
    flex: 0 0 100%;
  }
}

.story-detail {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 0;
  opacity: 1;
  transition: .5s ease opacity, .5s transform ease;
  top: 0;
  transform: scale(1);
  display: none;


  @media (max-width: $screen-sm) {
    margin-left: 0;
  }

  &.is-active { display: block }
  &.is-exiting {
    display: block;
    z-index: 3;
    transform: scale(1.05);
    opacity: 0;
  }
}

.story-item {
  padding: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  @media (max-width: $screen-md) {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12);
    border: none;
    margin-top: 20px;
    background: white;
  }
  @media (max-width: $screen-sm) {
    padding: 20px;
    border: none;
  }

  &.is-active {
    background-color: white;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12);

    @media (max-width: $screen-sm) {
      background-color: transparent;
      border: none;
    }

    .story-item-description { color: #595959 }
    .story-item-batch { color: #989898 }
    .story-item-name { color: black }
  }
}

.story-item-name {
  font-size: 25px;
  font-weight: $font-weight-bold;
  color: white;

  @media (max-width: $screen-md) { color: black }
}

.story-item-batch {
  font-size: 14px;
  line-height: 35px;
  color: white;
  font-weight: initial;

  @media (max-width: $screen-md) { color: black }
}

.story-item-description {
  font-size: 18px;
  color: white;
  font-weight: $font-weight-light;
  padding-top: 10px;

  @media (max-width: $screen-md) { color: black }
}

.story-detail-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 130%;
  border-radius: 4px;
  background-position: center center !important;
  // box-shadow: inset 0px -71px 37px -17px #f4f4f4;

  @media (max-width: $screen-sm) {
    left: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}

// .story-detail-extended {
//   height: 200px;
//   width: 200px;
//   background-size: cover;
//   background-position: 54% 36%;
//   border-radius: 50%;
//   position: absolute;
//   border: 6px solid white;
//   box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12);
//   transform: translateX(-50%) translateY(20%);
// }

.latest-projects-overlay {
  background: #F4F4F4;
}

.story-label {
  position: relative;
  top: 0;
  left: 28px;
  height: 80px;
  width: 80px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.25);
  background: $green;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(-53%) rotate(45deg);
  border-radius: 10px;
  text-transform: uppercase;
  z-index: 99;

  &.yellow {
    background: #f1c40f;
  }

  i {
    color: white;
    position: relative;
    top: 16px;
    left: 16px;
    font-size: 16px;
    transform: rotate(-45deg);

  }

  &-container {
    position: absolute !important;
    left: 0;
    display: flex;
    right: 0;
    top: 0;

    span {
      color: white;
      z-index: 99;
      margin: 15px;
      text-transform: uppercase;
      margin-left: 50px;
      font-size: 17px;
      letter-spacing: 5px;
      font-weight: bold;

      @media (max-width: $screen-md) {
        color: #C1C1C1;
      }
    }
  }
}



