@keyframes dayPictureEntrance {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes dayHourPulse {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100%  { transform: scale(1) }
}

.days {
  @media (max-width: $screen-sm) {
    padding: 10px;
  }
}

.day-type-overlay {
  background: #F4F4F4;
  overflow: hidden;

  .section-title-home {
    margin: 0;
  }
}

.day {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #666666;
  font-weight: $font-weight-light;
  font-size: 17px;
  p {
    margin: 0;
  }
}

.day-type-step {
  cursor: pointer;

  &.is-active {

    .day-hour { animation: dayHourPulse .5s ease forwards }
    .day-description,
    .day-hour {
      background: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    }
    .day-picture {
      transform: translateX(10%);
      opacity: 0;
      position: relative;
      @media (min-width: $screen-sm){ animation: dayPictureEntrance .5s ease forwards }
    }
  }
}

.day-hour {
  flex: 0 0 60px;
  line-height: 60px;
  text-align: center;
  font-size: 15px;
  color: #383838;
  font-weight: 300;
  border-radius: 50%;
  font-weight: $font-weight-normal;
  transition: all .2s ease;
  @media (max-width: $screen-sm) {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  }
}

.day-description {
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  flex: 1 1 auto;
  padding: 25px;
  @media (max-width: $screen-sm) {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  }

}

.day-circle {
  flex: 0 0 18px;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  margin: 10px;
  height: 18px;
  border-radius: 9px;
  z-index: 2;
  background-color: #F4F4F4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.day-circle-red {
  border: 3px solid $red;
}
.day-circle-blue {
  border: 3px solid $blue;
}
.day-circle-green {
  border: 3px solid $green;
}
.day-circle-orange {
  border: 3px solid $orange;
}
.day-circle-yellow {
  border: 3px solid $yellow;
}
.days {
  display: flex;
}
.days-border {
  flex: 0 0 8px;
  align-self: stretch;
  background: white;
  position: relative;
  left: 83px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.day-picture {
  background-position: center;
  height: 250px;
  position: absolute;
  background-size: cover;
  margin-left: 98px;
  margin-bottom: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

  @media (max-width: $screen-sm) {
    position: relative;
    transform: translateX(0) !important;
    opacity: 1 !important;

  }
}

.timeline-overlay {
  display: flex;
  margin-top: 60px;
}
.timeline-container { flex: 1 }
.day-type-detail-container {
  flex: 1;
  position: relative;
}
.day-type-detail {
  display: flex;
  left: 60px;
  height: 100%;
  width: 900px;
  position: absolute;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  margin: auto;


  &.is-active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    z-index: 9;
  }

  &.was-active {
    z-index: 8;
  }
}

