.two-columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;

  img {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  &>.container {
    display: flex;
  }

  .two-columns-image-container {
    flex: 1;

    img {
      position: absolute;

    }
  }

  .image-container {
    flex: 1;
    position: relative;

    img {
      position: absolute;
      height: auto;
    }

    &.terminal {
      img {
        width: 1000px;
      }
    }
  }

}

.two-columns-img {
  flex: 0 1 auto;
  height: 400px;
  margin-top: 70px;
  &-left {
    border-radius: 0 8px 0 0;
  }
  &-right {
    border-radius: 8px 0 0 0;
  }
  &-padded-left {
    border-radius: 0px 8px 8px 0px;
  }
}
.two-columns-description {
  flex: 1;
  padding: 70px;

  @media (max-width: $screen-sm) {
    flex: inherit;
  }
}
