.user-cascade-overlay {
  background-color: #363636;
  height: 500px;
  overflow: hidden;
}

.user-cascade {
  background-color: #363636;
  display: flex;
  flex-wrap: wrap;
  width: 200%;
  justify-content: center;
  transform: translateX(-20%) translateY(20%);
  position: relative;
  top: -700px;
}

.user-cascade-item {
  flex: 0 0 120px;
  background-size: cover !important;
  height: 120px;
  margin: 18px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: .8s ease-out transform;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
}
